{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/todo.css" %}">
        <link rel="icon" type="image/x-icon" href="https://media.tenor.com/8rpaKIXP_rMAAAAi/dodo-airlines-animal-crossing.gif">
</head>
<body>
    {% block content %}
    {% endblock content %}
<!-- <footer> <center>»»—— Dodo get it done! ——««</center> </footer> -->
</body>
</html>
