{% extends 'base.html' %}

{% block title %}Delete - Dodo Todo!{% endblock title %}

{% load static %}

{% block content %}
  <main>
    <div>
      <h1>Are you sure you want to delete this list?</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button><a title="No going back!">Delete</a></button>
      </form>
    </div>
  </main>
{% endblock content %}
