{% extends 'base.html' %}

{% block title %}Detail - Dodo Todo!{% endblock title %}

{% load static %}


<body>
    {% block content %}
    <main>
        <div>
            <h1>★ {{ list.name }} </h1>
            <h2>Tasks</h2>
            <div><a href="{% url 'todo_list_update' list.id %}"> ⮎ Edit this list</a></div>
            <table>
                <thead>
                    <th>Task:</th>
                    <th>Due Date:</th>
                </thead>
                <tbody>
                    {% for item in list.items.all %}
                    <tr>
                        <td><a title="edit me!" href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date|date:"M d, Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            <div><a href="{% url 'todo_list_delete' list.id %}"> × Delete this list</a></div>
            </table>
        </div>

    </main>
    {% endblock content %}
</body>
