{% extends 'base.html' %}

{% block title %}Update item - Dodo Todo!{% endblock title %}

{% load static %}


<body>
    {% block content %}
    <main>
        <div>
            <h1>★ Edit Item! </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
        </div>

    </main>
    {% endblock content %}
</body>
