{% extends 'base.html' %}

{% block title %}Dodo Todo!{% endblock title %}

{% load static %}


<body>
    {% block content %}
    <main>
        <div>
            <h1>★ My Lists! </h1>
            <div><a href="{% url 'todo_list_create' %}"> ⟶ Create a new list</a></div>
            <div><a href="{% url 'todo_item_create' %}"> ↬ Create a new item</a></div>
            <table>
                <thead>
                    <th>Name:</th>
                    <th>№ Items:</th>
                </thead>
                <tbody>
                    {% for list in todo_list_list %}
                    <tr>
                        <td><a title="Check your tasks" href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                        <td>{{ list.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
    {% endblock content %}
</body>
