@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

main{
    padding-bottom: 10px;
}

body {
    padding: 0px 15px;
    color: rgb(78, 78, 78);
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 248, 239, 0.644);
}

h1{
    text-shadow: 1px 1px 1px rgba(112, 98, 98, 0.541)
}

h2{
    border-bottom: 1px dashed;
}

footer {
    border: 1.5px solid white;
    color:rgb(82, 82, 82);
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.527);
}

table{
    padding: 10px;
    border-radius: 12px 12px;
    box-shadow: 1px 1px 1px 1px rgb(209, 186, 186);
}

table th{
    border-bottom: 1px solid;
}

table tr:nth-child(even){
    background:rgb(255, 255, 255);
}

hr{

    color:white;
}
